// Colors
$color1: rgba(50, 41, 47, 1);
$color2: rgba(231, 206, 227, 1);
$color3: rgba(87, 83, 102, 1);
$color4: rgba(238, 133, 181, 1);
$color5: rgba(255, 149, 140, 1);
$color6: #f9f9f9;
$color7: #ececec;

$btn-status0: #F99581;
$btn-status1: #96BDC6;
$btn-status2: #79B473;
$btn-status3: #DDC3D0;