/* Coolors Exported Palette - coolors.co/32292f-e7cee3-575366-ee85b5-ff958c */

/* HSL */
$color1: hsla(320%, 10%, 18%, 1);
$color2: hsla(310%, 34%, 86%, 1);
$color3: hsla(253%, 10%, 36%, 1);
$color4: hsla(333%, 76%, 73%, 1);
$color5: hsla(5%, 100%, 77%, 1);

/* RGB */
$color1: rgba(50, 41, 47, 1);
$color2: rgba(231, 206, 227, 1);
$color3: rgba(87, 83, 102, 1);
$color4: rgba(238, 133, 181, 1);
$color5: rgba(255, 149, 140, 1);